<mat-card
  class="border-round-xl border-3 color-primary">

  <mat-card-header>
    <mat-card-title>{{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
  </mat-card-header>

  <img
  mat-card-image
  class="my-3"
  [src]="hero | heroImage"
  [alt]="hero.superhero">

  <mat-card-content class="mt-2">
    <h4>{{ hero.publisher }}</h4>
    <p>
      <strong>First performance</strong>
      <mat-chip-listbox class="mt-2">
        <mat-chip *ngFor="let name of hero.characters.split(',')">
          {{ name.trim() }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider class="mt-2"></mat-divider>

  <mat-card-actions class="justify-content-between">
    <button mat-button
      mat-raised
      class="color-primary"
      [routerLink]="['/heroes/edit', hero.id]">
      <mat-icon class="color-primary">edit</mat-icon>
      Editar
    </button>

    <button mat-button
      mat-raised
      class="color-primary"
      [routerLink]="['/heroes', hero.id]">
      <mat-icon class="color-primary">more_horizontal</mat-icon>
      Más
    </button>
  </mat-card-actions>
</mat-card>
