mat-sidenav {
  background-color: var(--primary-color);
  width: 250px;
}

mat-toolbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

mat-chip {
  background-color: var(--primary-color) !important;
  border: 2px solid var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}
