/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #1C5B92;
  --secondary-color: #E4E8EE;
  --neutral-color: #FEFAEE;
  --warn-color: #ad0f0f;
  --text-primary-color: #0C253B;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--neutral-color);
}


.mdc-text-field--filled {
  border-radius: 1rem !important;
}

.mdc-line-ripple {
  display: none;
}

.spacer {
  flex: 1 1 auto
}

.color-primary {
  color: var(--primary-color) !important;
}

.color-secondary {
  color: var(--secondary-color) !important;
}

.color-warn {
  color: var(--warn-color) !important;
}

.text-primary-color {
  color: var(--text-primary-color) !important;
}

.custom-container {
  background-color: var(--neutral-color);
  height: 100vh;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: var(--secondary-color) !important;
  border: 3px solid var(--primary-color) !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled),
.mat-mdc-snack-bar-container .mdc-snackbar__label,
.mdc-button .mdc-button__label {
  color: var(--primary-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--neutral-color) !important;
  border: 3px solid var(--primary-color) !important;
  border-radius: 1rem !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #eefbfec4;
  border-radius: 4px;
}
