/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #1C5B92;
  --secondary-color: #E4E8EE;
  --neutral-color: #FEFAEE;
  --text-primary-color: #0c253b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer {
  flex: 1 1 auto
}

.color-primary {
  color: var(--primary-color) !important;
}

.color-secondary {
  color: var(--secondary-color) !important;
}

.text-primary-color {
  color: var(--text-primary-color) !important;
}

::-webkit-scrollbar {
  width: 8px;     
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #eefbfec4;
  border-radius: 4px;
}
